{% extends "site/header.html.twig" %}

{% block title %}InstaKilo - Лента{% endblock %}

{% block content %}
    <div class="container content">
        <div class="row">
            <h1 class="offset-4">
                Welcome to the <span class="text-info">Insta</span><span class="text-danger">kilo</span>
            </h1>

            <div class="offset-3 col-lg-6 new-btn">
                <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal"
                        data-target=".bs-example-modal-lg">
                    Добавить новое Фото
                </button>
            </div>

            <div class="modal fade bs-example-modal-lg new" tabindex="-1" role="dialog"
                 aria-labelledby="myLargeModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        {{ form_start(photoForm, {'action': path('add-photo'), 'method': 'POST'}) }}
                        {{ form_widget(photoForm) }}
                        {{ form_end(photoForm) }}
                    </div>
                </div>
            </div>
        </div>

        {% for photo in photos|reverse(true) %}
            <div class="row">
                <div class="offset-3 col-lg-6 photo">
                    <p>
                        <b>Автор:
                            <a href="{{ path('profile', {'id' : photo.user.id}) }}">
                                {{ photo.user }}
                            </a>
                        </b>
                    </p>
                    <img class="img-fluid" src="{{ vich_uploader_asset(photo, 'photo') }}" alt="">
                    <a href="{{ path('like', {'id': photo.id}) }}" class="btn btn-link js-like">
                        {% if app.user and photo.likedByUser(app.user) %}
                            <i class="fas fa-thumbs-up"></i>
                        {% else %}
                            <i class="far fa-thumbs-up"></i>
                        {% endif %}
                        <span class="js-likes">{{ photo.likes.count }}</span>
                        <span class="js-label">Likes</span>
                    </a>
                    <br>
                    <br>
                    {% for comment in photo.comments %}
                        <div class="comment">
                            <a href="{{ path('profile', {'id' : comment.user.id}) }}">
                                <b>{{ comment.user }}</b>
                            </a>
                            : {{ comment.comment }}
                        </div>
                    {% endfor %}
                    <div>
                        {% set comment = commentForm.createView %}
                        {{ form_start(comment, {'action' : path('new-comment', {'id' : photo.id})}) }}
                        {{ form_widget(comment.comment) }}
                        {{ form_widget(comment.submit, {'attr': {'class': 'btn btn-xs btn-info add-comment'},'label': 'Отправить'}) }}
                        {{ form_end(comment) }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        function onClickBtnLike(e) {
            e.preventDefault();
            const url       = this.href;
            const spanCount = this.querySelector('span.js-likes');
            const icon      = this.querySelector('i');

            axios.get(url).then(function (response) {
                spanCount.textContent = response.data.likes;
                if (icon.classList.contains('fas'))
                    icon.classList.replace('fas', 'far');
                else
                    icon.classList.replace('far', 'fas')
            });
        }

        document.querySelectorAll('a.js-like').forEach(function (link) {
            link.addEventListener('click', onClickBtnLike)
        })
    </script>
{% endblock %}
