{% extends "base.html.twig" %}

{% block body %}
    {% block header %}
        <header>
            <div class="container">
                <a href="{{ path('site') }}">
                    <img alt="logo" class="logo" src="{{ asset('images/logo.jpg') }}">
                </a>
                <nav>
                    <ul>
                        <li><a href="{{ path('users') }}">Пользователи</a></li>
                        <li><a href="{{ path('feed') }}">Лента</a></li>
                        <li><a href="{{ path('profile', {'id' : app.user.id}) }}">Профиль</a></li>
                        <li class="logout"><a href="{{ path('fos_user_security_logout') }}">Выйти</a></li>
                    </ul>
                </nav>
            </div>
        </header>
    {% endblock header %}
    {% block content %}{% endblock content %}
{% endblock body %}